# fly.toml app configuration file generated for collaborative-canvas

app = "collaborative-canvas-app"
primary_region = "sea"

[build]
  builder = "heroku"

[env]
  PORT = "3000"
  NODE_ENV = "production"

[[services]]
  protocol = "tcp"
  internal_port = 3000
  processes = ["app"]

  [services.concurrency]
    type = "requests"
    hard_limit = 1000
    soft_limit = 800

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.tcp_checks]
    enabled = true
    grace_period = "30s"
    interval = "15s"
    timeout = "10s"
